body, html {
    margin: 0;
    /* max-width: 900px;
    background-color: darkgreen; */
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-color: #0F0F11;
}

.navigation-container {
    width: 20%;
    max-width: 90px;
    min-width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo, .home-link, .profile-container {
    width: 40px;
    height: 40px;
    margin-top: 60px;
    color: white;
    font-size: 2em;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* two divs are using flex-grow: 1, this means that the space
that is left after navigation will be splitted evenly between those two divs */
.main {
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; says: "Let me grow as much as I can" */
    flex: 1;
}

.tweets-search-container {
    height: 70px;
    margin: 20px;
    margin-top: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
}

#user-search-input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

#user-search-input:focus {
    outline: none;
}

.fa-search {
    color: white;
    font-size: 30px;
}

.tweets-list {
    height: 600px;
    margin: 20px;
}

.tweet-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 1px solid #1c1c1c;
    border-radius: 20px;
    overflow: hidden;
}

.tweet-user-info {
    height: 90px;
    display: flex;
    margin-left: 30px;
    margin-top: 10px;
}

.tweet-user-profile {
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: white;
}

.tweet-user-name-container {
    color: white;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.tweet-user-username {
    font-size: 10px;
}

.tweet-images-container {
    margin: 20px;
    height: 200px;
    border: 1px solid #1c1c1c;
    border-radius: 20px;
}

.tweet-text-container {
    margin: 20px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.74);
}

.tweet-date-container {
    margin: 20px;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.74);
}

.tweets-sidebar-container {
    background-color: darkturquoise;
    /* flex-grow: 1; says: "Let me grow as much as I can" */
    flex: 1;
}

.tweets-sidebar {
    background-color: white;
    width: 200px;
    height: 500px;
    margin: 20px;
}